set default=0
set timeout=2

menuentry "MyOS GUI 1280x720" {
    insmod all_video
    insmod vbe
    insmod vga
    insmod video_bochs
    insmod video_cirrus
    set gfxmode=1280x720x32
    set gfxpayload=keep
    terminal_output gfxterm
    multiboot /boot/myos.kernel
    boot
}

menuentry "MyOS GUI 1024x768 (fallback)" {
    insmod all_video
    insmod vbe
    set gfxmode=1024x768x32
    set gfxpayload=keep
    terminal_output gfxterm
    multiboot /boot/myos.kernel
    boot
}
